@import "bootstrap";
@import "variables";

@import "partials/top-nav";
@import "editor/editor";

.wrap{
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
}
ui-view{
    position:absolute;
    top:50px;
    left:0;
    right:0;
    bottom:0;

}