<div class="container-fluid" ng-controller="TopNavController as nav">
    <div class="header">
        <a class="brand">Project Kaztex</a>
    </div>

    <ul class="menu-right nav navbar-nav navbar-right">

        <li class="user-info">
            <a><img class="user-photo" src="">{{nav.user.name}}</a>
        </li>

        <li class="top-nav-dropdown" dropdown>
            <a href="#" class="dropdown-toggle" dropdown-toggle>
                <i class="dropdown-icon fa fa-gear"></i> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a>a Choice</a>
                </li>
            </ul>
        </li>
    </ul>
</div>